/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    backface-visibility: hidden;
} */

body {
    background-color: #f1c40f;
    overflow: hidden;
    transition: background-color ease-in-out 0.2s;
}

.loading h1 {
    position: absolute;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    left: 50%;
    top: 58%;
    margin-left: -45px;
}

.loaded .loading {
    display: none;
}

.body {
    position: absolute;
    top: 50%;
    margin-left: -50px;
    left: 50%;
    animation: speeder 0.4s linear infinite;
}
.body > span {
    height: 5px;
    width: 35px;
    background: #000;
    position: absolute;
    top: -19px;
    left: 60px;
    border-radius: 2px 10px 1px 0;
}

.base span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 100px solid #000;
    border-bottom: 6px solid transparent;
}
.base span:before {
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    right: -110px;
    top: -16px;
}
.base span:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-right: 55px solid #000;
    border-bottom: 16px solid transparent;
    top: -16px;
    right: -98px;
}

.face {
    position: absolute;
    height: 12px;
    width: 20px;
    background: #000;
    border-radius: 20px 20px 0 0;
    transform: rotate(-40deg);
    right: -125px;
    top: -15px;
}
.face:after {
    content: "";
    height: 12px;
    width: 12px;
    background: #000;
    right: 4px;
    top: 7px;
    position: absolute;
    transform: rotate(40deg);
    transform-origin: 50% 50%;
    border-radius: 0 0 0 2px;
}

.body > span > span:nth-child(1),
.body > span > span:nth-child(2),
.body > span > span:nth-child(3),
.body > span > span:nth-child(4) {
    width: 30px;
    height: 1px;
    background: #000;
    position: absolute;
    animation: fazer1 0.2s linear infinite;
}

.body > span > span:nth-child(2) {
    top: 3px;
    animation: fazer2 0.4s linear infinite;
}

.body > span > span:nth-child(3) {
    top: 1px;
    animation: fazer3 0.4s linear infinite;
    animation-delay: -1s;
}

.body > span > span:nth-child(4) {
    top: 4px;
    animation: fazer4 1s linear infinite;
    animation-delay: -1s;
}

@keyframes fazer1 {
    0% {
        left: 0;
    }
    100% {
        left: -80px;
        opacity: 0;
    }
}
@keyframes fazer2 {
    0% {
        left: 0;
    }
    100% {
        left: -100px;
        opacity: 0;
    }
}
@keyframes fazer3 {
    0% {
        left: 0;
    }
    100% {
        left: -50px;
        opacity: 0;
    }
}
@keyframes fazer4 {
    0% {
        left: 0;
    }
    100% {
        left: -150px;
        opacity: 0;
    }
}
@keyframes speeder {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -3px) rotate(-1deg);
    }
    20% {
        transform: translate(-2px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 3px) rotate(-1deg);
    }
    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-2px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
.longfazers {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.longfazers span {
    position: absolute;
    height: 2px;
    width: 20%;
    background: #000;
}
.longfazers span:nth-child(1) {
    top: 20%;
    animation: lf 0.6s linear infinite;
    animation-delay: -5s;
}
.longfazers span:nth-child(2) {
    top: 40%;
    animation: lf2 0.8s linear infinite;
    animation-delay: -1s;
}
.longfazers span:nth-child(3) {
    top: 60%;
    animation: lf3 0.6s linear infinite;
}
.longfazers span:nth-child(4) {
    top: 80%;
    animation: lf4 0.5s linear infinite;
    animation-delay: -3s;
}

@keyframes lf {
    0% {
        left: 200%;
    }
    100% {
        left: -200%;
        opacity: 0;
    }
}
@keyframes lf2 {
    0% {
        left: 200%;
    }
    100% {
        left: -200%;
        opacity: 0;
    }
}
@keyframes lf3 {
    0% {
        left: 200%;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}
@keyframes lf4 {
    0% {
        left: 200%;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}

body.loaded {
    background-color: #f4f6f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.container {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
}
.perspective {
    perspective: 1000px;
    transition: transform ease-in-out 0.3s;
}
.loaded .container {
    display: flex;
}
.container__image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: url() no-repeat center;
    background-size: cover;
    transition: all ease-in-out 0.3s, transform 0.1s linear;
    z-index: 2;
    box-shadow: 0 70px 63px -60px #494848;
    transform-style: preserve-3d;
}
.container__image:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: inherit;
    background-position: bottom;
    filter: blur(40px) saturate(0%);
    transform: scaleX(0.4);
    transition: ease-in-out 0.4s;
    border-radius: 120px;
    transform-origin: right;
    opacity: 0;
    z-index: -1;
}
.container__info {
    position: relative;
    line-height: 1.8;
    transition: ease-in-out 0.3s;
    opacity: 0;
}
.container__image .container__location {
    transition-delay: 0.15s;
}
.hover .container__image {
    border-radius: 0;
    width: 450px;
    height: 310px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04),
        0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1),
        0px 24px 32px rgba(9, 55, 53, 0.14);
}
.hover .container__image:before {
    width: 100%;
    opacity: 0.18;
    filter: blur(10px) saturate(100%);
    transform: scale(2.8) translate3d(-18%, 0px, 0px);
}
.hover .container__info {
    transform: translate3d(-21vw, 0px, 0px);
    opacity: 1;
}
.link {
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: ease-in 0.13s;
    display: inline-block;
    cursor: pointer;
    font-weight: 600;
    pointer-events: none;
}

.hover .link {
    pointer-events: initial;
}

@media only screen and (max-width: 1024px) {
    .perspective {
        transform: scale(0.7);
    }
    .container__info {
        font-size: 18px;
    }
    .hover .container__info {
        transform: translate3d(-36vw, 0px, 0px);
    }
}

@media only screen and (max-width: 720px) {
    .container__info {
        font-size: 20px;
    }
    .hover .perspective {
        transform: scale(0.7) translate3d(25vw, 0, 0);
    }
    .hover .container__info {
        transform: translate3d(-50vw, 0px, 0px);
    }
}

@media only screen and (max-width: 540px) {
    /* .container__image {
        border-radius: 0;
        width: 360px;
    } */
    .hover .perspective {
        transform: scale(0.7) translate3d(25vw, -10vh, 0);
    }
    .hover .container__image {
        left: 0;
    }
    .container__info {
        font-size: 21px;
        transition: ease-in-out 0.5s;
    }
    .hover .container__info {
        transform: translate3d(-36vw, 30vh, 0);
    }
}

@media only screen and (max-width: 400px) {
    .hover .container__info {
        transform: translate3d(-27vw, 30vh, 0);
        font-size: 24px;
    }
}

@media only screen and (max-height: 650px) {
    .hover .container__info {
        transform: translate3d(-36vw, 50vh, 0);
    }
}
